---
---

/* SCSS Variables */

$font-stack: Helvetica, sans-serif;
$primary-color: rgb(0,128,128);
$primary-color-transparent: rgba(0,128,128, 0.5);
$secondary-color: lightgrey;
$link-color: $primary-color;
$link-color-lighter: lighten($link-color,15%);
$font-size-aside: 1em;
$border-radius: 5px;
$card-padding: 20px;
$line-border: 5px solid;
$section-margin: 3em;

/* Type Elements */

body {
  font: 1.25em/1.5 $font-stack;
  padding: 0;
  margin: 0;
}

main {
  max-width: 1000px;
  margin: auto;
}

header {
  max-width: 100%;
  margin-bottom: $section-margin;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

nav ul li {
  margin-right: 2em;
}

aside {
  background-color: $secondary-color;
  border-radius: $border-radius;
  padding: $card-padding;
  display: flex;
  max-width: 18%;
  flex-flow: column;
}

aside h2,
aside a,
aside ul,
aside p {
  font-size: $font-size-aside;
}

aside h2,
aside p,
aside li, {
  margin: 1%;
}

h1 {
  font: 800 3.5em/1 $font-stack;
  color: $primary-color;
  margin-left: 5px;
  margin-right: 5px;
}

img {
  max-width: 100%;
}

a {
  color: $link-color;
}

a:hover {
  color: $link-color-lighter;
}

a:visited {
  color: $link-color-lighter;
}

footer {
  margin-top: $section-margin;
  border-top: $line-border;
}


/* ID Elements */

#interview-grid {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#interview-grid article {
  background-color: $secondary-color;
  border-radius: $border-radius;
  width: 32%;
}

#recent-posts {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#recent-posts article {
  width: 32%;
  background-color: $secondary-color;
  border-radius: $border-radius;
}

#site-brand {
  /* text-shadow: 1px 1px 1px; */
  border-bottom: $line-border;
  color: black;
}

/* Class Elements */

.nav-link,
.nav-link:visited {
  color: $primary-color;
  padding: 10px;
  text-decoration: none;
  box-sizing: border-box;
}

.nav-link:hover {
  background-color: #fff;
  color: $primary-color;
  text-decoration: underline;
}

.masthead {
  height: 480px;
  background:
    linear-gradient($primary-color-transparent, #fff),
    url(https://placeimg.com/1000/480/any);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: $card-padding;
}

.card-text h2,
.card-text p {
  margin: 0;
  padding: 0;
}

.interview-page-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.site-brand-image {
  border-top: 20px solid $primary-color;
  margin-bottom: 0;
}

.interview-content {
  max-width: 70%;
}

.interview-content h2 {
  margin-top: 0;
}

.interview-card-img {
  width: 70%;
  border-radius: 50%;
  margin: auto;
}

.tag-grid {
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
}

.tag-grid li {
  list-style-type: none;
  margin-left: 2%;
  margin-right: 2%;
}

.icon {
  width: 20px;
}
