---
---

/* SCSS Variables */

$font-stack: Helvetica, sans-serif;
$primary-color: red;
$secondary-color: lightgrey;

/* Type Elements */

body {
  font: 1em/1.5 $font-stack;
}

main {
  max-width: 1000px;
  margin: auto;
}

header {
  max-width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

nav ul li {
  margin-right: 2em;
}

h1 {
  font: 800 5em/1 $font-stack ;
  color: $primary-color;
}

img {
  max-width: 100%;
}

/* ID Elements */

#interview-grid {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#interview-grid article {
  background-color: $secondary-color;
  width: 32%;
}

#recent-posts {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#recent-posts article {
  width: 32%;
  background-color: $secondary-color;
}

/* Class Elements */

.card-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
