<!DOCTYPE html>
<html lang="en" dir="ltr">

  {% include head.html %}

  <body>
    <main>

      {% include nav.html %}

      <header>
        <img class="header-img" src="https://placeimg.com/1000/480/any" />
        <h1 id="site-brand">All Categories</h1>
      </header>

      <section>



      <div>
    {% for category in site.categories %}
    <h2>{{ category | first }}</h2>
    <ul>
      {% for post in category[1] %}
        <a href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      <small class="post-date">{{ post.date | date_to_string }}</small>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>

    </section>
      {% include footer.html %}

    </main>

  </body>
</html>
