<!DOCTYPE html>
<html lang="en" dir="ltr">

  {% include head.html %}

  <body>
    <main>

      {% include nav.html %}

      <header>
        <img class="header-img" src="https://placeimg.com/1000/480/any" />
        <h1 id="site-brand">{{ site.project-name }}</h1>
        <p> {{ site.description }}</p>
        <p>Contact</p>
      </header>
      <section>



        {{ content }}

      </section>


      <section id="interview-grid">
          {% for post in site.posts limit:3 %}
          <article>
            <img class="header-img" src="{{post.header-img}}" />
              <div class="card-text">
                <h2> {{ post.interviewee }} </h2>
                <p>Interviewed by {{ post.interviewer }} </p>
                <p>{{ post.date | date: "%b %-d, %Y" }}</p>
                <a href="{{ post.url }}">Read More</a>
              </div>
          </article>
          {% endfor %}
    </section>

      {% include footer.html %}

    </main>

  </body>
</html>
