<!DOCTYPE html>
<html lang="en" dir="ltr">

  {% include head.html %}

  <body>
    <main>

      {% include nav.html %}

      <header class="masthead">
        <h1 id="site-brand">Oral History Project</h1>
      </header>

      <section>
        {{ content }}
      </section>


      <section class="recent-post-container">
        <h2>Recent Interviews</h2>
        <div id="recent-posts">
          {% for post in site.posts limit:3 %}
          <article>
            <img class="header-img" src="{{post.header-img}}" />
              <div class="card-text">
                <h2> {{ post.interviewee }} </h2>
                <p>Interviewed by {{ post.interviewer }} </p>
                <p>{{ post.date | date: "%b %-d, %Y" }}</p>
                <a href="{{ post.url }}">Read More</a>
              </div>
          </article>
          {% endfor %}
        </div>
    </section>

      {% include footer.html %}

    </main>

  </body>
</html>
