<!DOCTYPE html>
<html lang="en" dir="ltr">

  {% include head.html %}

  <body>
    <main>

      {% include nav.html %}

      <header>
        <img class="header-img" src="https://placeimg.com/1000/480/any" />
        <h1>All Interviews</h1>
      </header>

        <section id="interview-grid">
          {% for interview_page in site.interview_pages %}
          <article>
            <img src="{{ post.header-img }}" />
            <div class="card-text">
              <h2> {{ interview_page.interviewee }} </h2>
              <p>Interviewed by {{ interview_page.interviewer }} </p>
              <p>{{ interview_page.date | date: "%b %-d, %Y" }}</p>
              <a href="{{ interview_page.url }}">Read More</a>
            </div>
          </article>
          {% endfor %}
        </section>

      {% include footer.html %}

    </main>

  </body>
</html>
